body {
  font-family: "Laila", sans-serif;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(251, 222, 238) 15.6%,
    rgb(206, 201, 226) 80.3%
  );
  color: rgb(255, 12, 253);
}
.sewing-photo {
  max-width: 100%;
  border-radius: 20px 15px;
  display: block;
  margin: 30px auto;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 15px;
  color: rgb(220, 157, 80);
}
